*.*/
main/mr-tmp/
mrtmp.*
824-mrinput-*.txt
/main/diff.out
/mapreduce/x.txt
/pbservice/x.txt
/kvpaxos/x.txt
*.so
/main/mrcoordinator
/main/mrsequential
/main/mrworker
kvraft1/tmp
kvraft1/tmp.txt
kvraft1/tmp2.txt
raft1/tmp.txt
raft1/tmp2.txt